/GUIElements/build/CMakeFiles
/GUIElements/build/CMakeCache.txt
/GUIElements/build/dlib_build
/GUIElements/build/cmake_install.cmake
/GUIElements/build/my_project
/GUIElements/build/Makefile
/GUIElements/CMakeLists.txt